body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

#app {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

canvas {
  width: 640px;
  height: 360px;
  image-rendering: pixelated;
}
